:root {
  --sonic-dark-silver: #191919;
  --sonic-silver: #767676;
  --phillipine-silver: #b4b4b4;
  --spanish-viridian: #007e5c;
  --spanish-yellow: #f9b613;
  --spanish-light-yellow: #fbca55;
}
* {
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  box-sizing: inherit;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #1e9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #34ace0,
    #1e9600
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #34ace0,
    #1e9600
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
#root,
main {
  flex: 1;
  /* height: 100%; */
  /* width: 100%; */
}
main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--sonic-dark-silver);
}
h2 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
  margin: 1rem;
}
a {
  color: var(--sonic-dark-silver);
  font-size: 1.5rem;
  margin: 16px 0;
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--spanish-viridian);
}
button {
  background-color: var(--phillipine-silver);
  border: 2px solid var(--spanish-viridian);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--sonic-dark-silver);
  height: 40px;
  font-size: 1.5rem;
  padding: 0;
  margin: 16px auto;
  text-decoration: none;
  width: 95%;
}
button:hover,
button:active {
  background-color: var(--spanish-viridian);
  color: var(--phillipine-silver);
}
label {
  color: var(--sonic-dark-silver);
  font-size: 1rem;
}
input {
  background-color: var(--spanish-light-yellow);
  border: 1px solid var(--spanish-viridian);
  border-radius: 4px;
  color: var(--sonic-dark-silver);
  font-size: 1.5rem;
  padding: 8px 4px;
}
.home {
  text-align: center;
}
.block {
  display: block;
}
.form-input {
  margin: 5px 0;
}

@media screen and (min-width: 500px) {
  #root {
    margin: 0 auto;
    width: 800px;
  }
  button {
    display: block;
    margin: 16px auto;
    width: 400px;
  }
}
